@keyframes typing { from { width: 0; } }
/*@keyframes blink-caret { 50% { border-color: transparent; } }*/


#h1 {
	font-family: Terminal;
	border-right: .1em solid;
	width: 16.5em; /* fallback */
	width: 30ch; /* # of chars */
	/*margin: 2em 1em;*/
	white-space: nowrap;
	overflow: hidden;

    color: white;
	animation: typing 10s steps(30, end), /* # of steps = # of chars */
	            .1s step-end infinite alternate;

}

@font-face{
    font-family: "Terminal";
    src: url('TerminusTTF-4.39.ttf');

}


body{
	background: #2C2D31;
	padding-top: 15%;
    /*padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 50%;*/
    margin-left: auto;
    margin-right: auto;
    width: 960px;

    font-size: 11px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#main{
    margin-left: auto;
    margin-right: auto;
   /* margin-top:auto;*/
    margin-bottom: auto;
    background: black;
}

#plain{
    color:white;
    margin-left: 10px;
    font-size: 15px;
    font-family: Terminal;
    line-height: 25px;
}


p {
    color: orange;
}

/* Blinking cursor from - http://codepen.io/ArtemGordinsky/pen/GnLBq/ */

.blinking-cursor {
  font-weight: 100;
  font-size: 15px;
  color: #FFFFFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
